<form cam-form role="form" name="form">
    <script cam-script type="text/form-script">
        inject(['$scope', '$http', 'Uri', 'Notifications', function ($scope, $http, Uri, Notifications) {
            $scope.open = function ($event) {
                $event.preventDefault();
                $event.stopPropagation();

                $scope.dateFieldOpened = true;
            };

            $scope.hoveringOver = function (value) {
                $scope.overStar = value;
                $scope.percent = 100 * (value / $scope.max);
            };

            camForm.on("variables-fetched", function () {
                $scope.kategorien = [
                    {"id": "junior", "name": "Junior"},
                    {"id": "professional", "name": "Professional"},
                    {"id": "senior", "name": "Senior"}
                ];

                $scope.quellen = [
                    {"id": "headhunter", "name": "Headhunter"},
                    {"id": "bfa", "name": "BfA"},
                    {"id": "stellenanzeige", "name": "Stellenanzeige"},
                    {"id": "homepage", "name": "Homepage"},
                    {"id": "empfehlungMitarbeiter", "name": "Empfehlung Mitarbeiter"},
                    {"id": "empfehlungExtern", "name": "Empfehlung Extern"},
                    {"id": "stellenboerse", "name": "Stellenbörse"},
                    {"id": "recruitingIlume", "name": "Recruiting ilum:e"}
                ];

                $scope.bereichPrios = [
                    {"id": "sma", "name": "SMA"},
                    {"id": "dev", "name": "DEV"},
                    {"id": "crm", "name": "CRM"},
                    {"id": "backOffice", "name": "BackOffice"}
                ];

                $scope.statuses = [
                    {"id": "eingang", "name": "Eingang"},
                    {"id": "wiedervorlage", "name": "Wiedervorlage"},
                    {"id": "telefonat", "name": "Telefonat"},
                    {"id": "notiz", "name": "Notiz"},
                    {"id": "voEinladungVersendet", "name": "VO Einladung versendet"},
                    {"id": "bereichZugeordnet", "name": "Bereich zugeordnet"},
                    {"id": "telefonInterview", "name": "Telefon Interview"},
                    {"id": "vorstellungsgespraech", "name": "Vorstellungsgespräch"},
                    {"id": "entwurfArbeitsvertrag", "name": "Entwurf Arbeitsvertrag"},
                    {"id": "arbeitsvertragVerschickt", "name": "Arbeitsvertrag verschickt"},
                    {"id": "arbeitsvertragUnterschrieben", "name": "Arbeitsvertrag unterschrieben"},
                    {"id": "absageIlume", "name": "Absage ilum:e"},
                    {"id": "absageBewerber", "name": "Absage Bewerber"}
                ];
                $scope.status = $scope.statuses[0].id;

                $scope.anreden = [
                    {"id": "herr", "name": "Herr"},
                    {"id": "frau", "name": "Frau"},
                    {"id": "divers", "name": "Divers"}
                ];

                $scope.angelegtAm = new Date(new Date().toDateString());
            });

            camForm.on('submit', function (event, a) {
                let variableManager = camForm.variableManager;

                variableManager.createVariable({
                    "name": "angelegtAm",
                    "type": "Date",
                    "value": $scope.angelegtAm
                });

                variableManager.createVariable({
                    "name": "status",
                    "type": "String",
                    "value": $scope.status
                });

                variableManager.createVariable({
                    "name": "headHunterWertung",
                    "type": "Integer",
                    "value": $scope.headHunterWertung
                });
            });
        }]);
    </script>

    <div class="row">
        <div class="col-md-6">
            <h3 style="border-bottom-width: 1px; border-bottom-style: solid;">Bewerberdaten</h3>

            <div class="form-group">
                <label for="kategorie-field"><span style="color: #F00">* </span>Kategorie</label>
                <select id="kategorie-field"
                        cam-variable-name="kategorie"
                        cam-variable-type="String"
                        class="form-control"
                        required>
                    <option value="">Wählen Sie ...</option>
                    <option ng-repeat="kategorie in kategorien" ng-attr-value="{{kategorie.id}}">{{kategorie.name}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="quelle-field"><span style="color: #F00">* </span>Quelle</label>
                <select id="quelle-field"
                        cam-variable-name="quelle"
                        cam-variable-type="String"
                        class="form-control"
                        required>
                    <option value="">Wählen Sie ...</option>
                    <option ng-repeat="quelle in quellen" ng-attr-value="{{quelle.id}}">{{quelle.name}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="headhunterWertung-field">Headhunter Wertung</label>
                <br>
                <span uib-rating
                      id="headhunterWertung-field"
                      ng-model="headHunterWertung"
                      max="5"
                      on-hover="hoveringOver(value)"
                      on-leave="overStar = null">
                </span>
            </div>

            <div class="form-group">
                <label for="bereichPrio1-field"><span style="color: #F00">* </span>Bereich Prio 1</label>
                <select id="bereichPrio1-field"
                        cam-variable-name="bereichPrio1"
                        cam-variable-type="String"
                        class="form-control"
                        required>
                    <option value="">Wählen Sie ...</option>
                    <option ng-repeat="bereichPrio in bereichPrios" ng-attr-value="{{bereichPrio.id}}">{{bereichPrio.name}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="bereichPrio2-field">Bereich Prio 2</label>
                <select id="bereichPrio2-field"
                        cam-variable-name="bereichPrio2"
                        cam-variable-type="String"
                        class="form-control">
                    <option value="">Wählen Sie ...</option>
                    <option ng-repeat="bereichPrio in bereichPrios" ng-attr-value="{{bereichPrio.id}}">{{bereichPrio.name}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="status-field"><span style="color: #F00">* </span>Status</label>
                <select id="status-field"
                        ng-model="status"
                        class="form-control"
                        required>
                    <option value="">Wählen Sie ...</option>
                    <option ng-repeat="status in statuses" ng-attr-value="{{status.id}}">{{status.name}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="angelegtAm-field"><span style="color: #F00">* </span>Angelegt am</label>
                <p class="input-group">
                    <input id="angelegtAm-field"
                           type="text"
                           ng-model="angelegtAm"
                           class="form-control"
                           uib-datepicker-popup="dd.MM.yyyy"
                           is-open="dateFieldOpened"
                           required/>

                    <span class="input-group-btn">
                    <button type="button"
                            class="btn btn-default"
                            ng-click="open($event)">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
                </p>
            </div>

            <div class="form-group">
                <label for="datenschutzbestimmungen-field"><span style="color: #F00">* </span>Datenschutzbestimmungen zugestimmt ?</label>
                <input id="datenschutzbestimmungen-field"
                       cam-variable-name="datenschutzbestimmungen"
                       cam-variable-type="Boolean"
                       class="form-control"
                       type="checkbox"
                       required>
            </div>

            <h3 style="border-bottom-width: 1px; border-bottom-style: solid;">Unterlagen</h3>

            <div class="form-group">
                <label for="anschreiben-field">Anschreiben</label>
                <input id="anschreiben-field"
                       type="file"
                       cam-variable-name="file_anschreiben"
                       cam-variable-type="File"
                       cam-max-filesize="10000000"/>
            </div>

            <div class="form-group">
                <label for="lebenslauf-field">Lebenslauf</label>
                <input id="lebenslauf-field"
                       type="file"
                       cam-variable-name="file_lebenslauf"
                       cam-variable-type="File"
                       cam-max-filesize="10000000"/>
            </div>


            <div class="form-group">
                <label for="zeugnisse-field">Zeugnisse</label>
                <input id="zeugnisse-field"
                       type="file"
                       cam-variable-name="file_zeugnisse"
                       cam-variable-type="File"
                       cam-max-filesize="10000000"/>
            </div>

            <div class="form-group">
                <label for="restlicheUnterlagen-field">Restliche Unterlagen</label>
                <input id="restlicheUnterlagen-field"
                       type="file"
                       cam-variable-name="file_restlicheUnterlagen"
                       cam-variable-type="File"
                       cam-max-filesize="10000000"/>
            </div>

        </div>
        <div class="col-md-6">
            <h3 style="border-bottom-width: 1px; border-bottom-style: solid;">Kontaktdaten</h3>

            <div class="form-group">
                <label for="anrede-field"><span style="color: #F00">* </span>Anrede</label>
                <select id="anrede-field"
                        cam-variable-name="anrede"
                        cam-variable-type="String"
                        class="form-control"
                        required>
                    <option value="">Wählen Sie ...</option>
                    <option ng-repeat="anrede in anreden" ng-attr-value="{{anrede.id}}">{{anrede.name}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="vorname-field"><span style="color: #F00">* </span>Vorname</label>
                <input id="vorname-field"
                       type="text"
                       cam-variable-name="vorname"
                       cam-variable-type="String"
                       ng-pattern="/^[A-Za-zÖÄÜöäüß\ \-]*$/"
                       class="form-control"
                       required/>
            </div>

            <div class="form-group">
                <label for="nachname-field"><span style="color: #F00">* </span>Nachname</label>
                <input id="nachname-field"
                       type="text"
                       cam-variable-name="nachname"
                       cam-variable-type="String"
                       ng-pattern="/^[A-Za-zÖÄÜöäüß\ \-]*$/"
                       class="form-control"
                       required/>
            </div>

            <div class="form-group">
                <label for="strasse-field"><span style="color: #F00">* </span>Straẞe</label>
                <input id="strasse-field"
                       type="text"
                       cam-variable-name="strasse"
                       cam-variable-type="String"
                       ng-pattern="/^[A-Za-zÖÄÜöäüß\ \-.&]*$/"
                       class="form-control"
                       required/>
            </div>

            <div class="form-group">
                <label for="hausnummer-field"><span style="color: #F00">* </span>Hausnummer</label>
                <input id="hausnummer-field"
                       type="text"
                       cam-variable-name="hausnummer"
                       cam-variable-type="String"
                       ng-pattern="/^([0-9A-Za-zÖÄÜöäüß])*$/"
                       class="form-control"
                       required/>
            </div>

            <div class="form-group">
                <label for="postleitzahl-field"><span style="color: #F00">* </span>Postleitzahl</label>
                <input id="postleitzahl-field"
                       type="text"
                       cam-variable-name="postleitzahl"
                       cam-variable-type="Integer"
                       ng-pattern="/^(\d{5})$/"
                       class="form-control"
                       required/>
            </div>

            <div class="form-group">
                <label for="ort-field"><span style="color: #F00">* </span>Ort</label>
                <input id="ort-field"
                       type="text"
                       cam-variable-name="ort"
                       cam-variable-type="String"
                       class="form-control"
                       required/>
            </div>

            <div class="form-group">
                <label for="telefon-field">Telefon</label>
                <input id="telefon-field"
                       type="text"
                       ng-pattern="/^\+{0,1}([0-9\ ])*$/"
                       cam-variable-name="telefon"
                       cam-variable-type="String"
                       class="form-control"/>
            </div>

            <div class="form-group">
                <label for="handy-field">Handy</label>
                <input id="handy-field"
                       type="text"
                       ng-pattern="/^\+{0,1}([0-9\ ])*$/"
                       cam-variable-name="handy"
                       cam-variable-type="String"
                       class="form-control"/>
            </div>

            <div class="form-group">
                <label for="eMail-field">E-Mail</label>
                <input id="eMail-field"
                       type="text"
                       cam-variable-name="eMail"
                       cam-variable-type="String"
                       ng-pattern="/^.{1,}@.{1,}\..{2,}$/"
                       class="form-control"/>
            </div>
        </div>
    </div>
</form>